Project06_BTP_Message_Mapping/target_sap_b1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CardCode" type="xs:string"/>
                <xs:element name="DocDueDate" type="xs:string"/>
                <xs:element name="DocumentLines" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ItemCode" type="xs:string"/>
                            <xs:element name="Quantity" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
